<div #root class="profile-page">
    <div class="profile-page__header">
        <app-fab (clicked)="closeModal()"><mdc-icon>close</mdc-icon></app-fab>
    </div>
    <div class="profile-page__body" *ngIf="(userState.authUser | async ) as user">
        <div class="profile-preview">
            <div class="profile-preview__character-portrait">
                <app-image [src]="user?.character?.portrait"></app-image>
            </div>
            <div>{{ user?.character?.name }}</div>
            <div>TODO: User Metadata</div>
            <div>TODO: Character Data including lodestone ID</div>
        </div>
        <div>
            Displayname:
            <app-radio-form [options]="radioOptions"></app-radio-form>
        </div>
        <div class="character-search">
            <mdc-text-field #lodestone_id [value]="lodestoneId" label="Lodestone ID"></mdc-text-field>
            {{ lodestone_id.value }}
            <app-button *ngIf="lodestone_id.value">SEARCH LODESTONE</app-button>
            <p>OR</p>
            <form [formGroup]="characterSearchForm">
                <div>Character Name: Search on button press</div>
                <div>Server: combo typeahead or filter + dropdown menu</div>
            </form>
            <div>Character Result List: make selection on click, remove list</div>
            <div>
                <app-button (clicked)="search()">Search</app-button>
            </div>
        </div>
    </div>
</div>