<div #root class="profile-page">
    <div class="profile-page__header">
        <app-fab (clicked)="closeModal()">
            <mdc-icon>close</mdc-icon>
        </app-fab>
    </div>
    <div class="profile-page__body" *ngIf="(userState.authUser | async ) as user">
        <div class="profile-preview">
            <div class="profile-preview__character-portrait">
                <app-image [src]="user?.character?.portrait"></app-image>
            </div>
            <div>{{ user?.character?.name }}</div>
            <div>TODO: User Metadata</div>
            <div>TODO: Character Data including lodestone ID</div>
        </div>
        <div>
            Displayname:
            <app-radio-form [options]="radioOptions"></app-radio-form>
        </div>
        <div class="character-search">
            <mdc-text-field #lodestone_id [value]="lodestoneId" label="Lodestone ID"></mdc-text-field>
            <app-button *ngIf="lodestone_id.value">SEARCH LODESTONE</app-button>
            <p>OR</p>
            <div>
                <mdc-text-field #character_name label="Name" [value]="characterName" [required]="true"></mdc-text-field>
                <app-dropdown-menu>
                    <app-button menuButton>{{ serverName }}
                        <mdc-icon>arrow_drop_down</mdc-icon>
                    </app-button>

                    <div menuItems>
                        <mdc-menu-item *ngFor="let server of mockServerList" (click)="setServerName(server)">{{ server }}</mdc-menu-item>
                    </div>
                </app-dropdown-menu>
            </div>
            <div>Character Result List: make selection on click, remove list</div>
            <div>
                <app-button *ngIf="character_name.value && isServerValid" (clicked)="search()">Search</app-button>
            </div>
        </div>
    </div>
</div>